/* ====================
 Pricing Section three style 
 ==================== */

 .pricing-section-three{
 	.single-price-item{
 		padding:50px;
 		border:1px solid #f0f4fa;
 		border-radius:4px;
 		margin-bottom:50px;
 		color:#6c7c8a;
 		transition:.3s;
 		&:hover{
 			box-shadow:0 0 40px #f3f5f6;
 		}
 		h4{
 			font-weight:600;
 			margin-bottom:40px;
 			font-size:22px;
 			padding-bottom:15px;
 			line-height: 30px;
 			span{
 				display:block;
 				color:#93bc72;
 				font-size:80%;
 			}
 		}

 		.price-amount{
 			font-size:40px;
 			margin:0;
 			line-height:50px;
 			color:#0AA0FA;
 		}
 		.price-box-content{
 			margin-bottom:30px;
 			border-top:1px solid #f1f5fa;
 			margin-top:40px;
 			padding-top:30px;
 			ul{
 				margin:0;
 				padding:0;
 				list-style:none;
 				li{
 					display:block;
 					padding-bottom:20px;
 				}
 			}
 		}
 		.boxed-btn{
 			display:inline-block;
 			padding:10px 25px;
 			background:#0AA0FA;
 			color:#fff;
 			text-decoration:none;
 			border-radius:4px;
 		}
 	}
 	.single-price-item.active{
 		position:relative;
 		z-index:1;
 		border-radius:0 0 5px 5px;
 		
 		&:before{
 			position:absolute;
 			left:0;
 			top:0;
 			width:100%;
 			height:3px;
 			background:#93bc72;
 			content:"";
 		}
 		h4{
 			margin-top:-30px;
 		}
 	};
 	a{
 		color:#0AA0FA;
 	}
 }